
  <div class="jumbotron jumbotron-fluid">
<div class="container">

  <img src="assets/Commonground_xl.png" class="img-fluid" alt="banner">
    <h1>Welcome to CommonGround</h1>
    <p>Rate how interested you are in a topic and find likeminded individuals.</p>
    <button type="link" class="btn btn-primary" onclick="location.href='users/sign_up'">Sign up</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='users/sign_in'">Log In</button>
  </div>
</div>
<h1>Shire line glowers seek effect.</h1>
<p>Merry attached luckiest map would marshland hungers ended ha. It must be taken deep into Mordor and cast back into the fiery chasm from whence it came.</p>
<h2>Stinks swung mightiest wings Durin.</h2>
<p>You shall not pass! Oakenshield's summer gold airmuch merry? Officially courage level Muil dwell stealing knives unoccupied droppings hopes glory lies.</p>
<h3>Metal Barad-dur stream?</h3>
<p>Squeal pointing crying Gaffer's comings? Roof Dori whatever kingdom they refused yes hat rip job. One does not simply walk into Mordor.</p>
<h4>Hole needs wet leaf Éomund.</h4>
<p>Prosaic delay outwitted wretch barrels red 40 nerves Thrain later. Gon slugs felt inside. I will take the Ring to Mordor.</p>
<h5>Keeping Isildur's kingdom.</h5>
<p>That is no trinket you carry. Whose hopeless despair faster hunts certain Hobbit surround knots because.</p>
<h6>Chubbs passion searched.</h6>
<p>Third Cirith craftsmen 60 mutilated nonsense descendant clean wizard's mine. Pearl forces horrid biggest pity's odd captive Muil miles modeling. Let the Ring-bearer decide. Respectable gibbet falls boots hmm crash Homely uprooted embrace refused grumpy sleeping.</p>
<ul>
	<li>Morning talks Homely tears consistency inform.</li>
	<li>Ere bits mouse won't makes owed born.</li>
	<li>Cirith sign wretch relevant urged under.</li>
	<li>Exhausted Air our market accursed ruin evil.</li>
	<li>Trouble'll gather taught stinks closing Southrons.</li>
</ul>
<p>Live moaning Gon common. I was there the day the strength of Men failed.</p>
<ol>
	<li>Risky idea nest Sit man mustn't stirring leg.</li>
	<li>Shepherd sealed Strider holidays closed served barley.</li>
	<li>Fair helpless Farthings ropes tomorrow alliances survive hearts.</li>
	<li>Perish Ori penny shadows descendant they're coins.</li>
	<li>Setting separate hardship Dwarrowdelf flows altogether.</li>
</ol>
<p>Absence thousands purring forthwith Gibbets stinker twittering? Elderly chap. Big grey beard, pointy hat. Defiler safest lord's appeared gather proof mirror holiday unsavory tightening.</p>

<%# primary secondary success danger warning info light dark  %>
<table class="table table-hover">
	<thead>
		<tr class="table-primary">
			<th></th>
			<th>Mother</th>
			<th>Breakfast</th>
			<th>Disturb</th>
			<th>Stomach</th>
			<th>Chill</th>
		</tr>
	</thead>
	<tbody>
		<tr class="table-secondary">
			<td>Everywhere</td>
			<td>quarry</td>
			<td>craft</td>
			<td>asked</td>
			<td>bled</td>
			<td>far</td>
		</tr>
		<tr class="table-success">
			<td>Pays</td>
			<td>hidden</td>
			<td>base</td>
			<td>rid</td>
			<td>hasty</td>
			<td>offered</td>
		</tr>
		<tr class="table-danger">
			<td>Battle</td>
			<td>guardian</td>
			<td>dragon's</td>
			<td>wounds</td>
			<td>scheme</td>
			<td>bear</td>
		</tr>
		<tr class="table-warning">
			<td>Tar</td>
			<td>reasoned</td>
			<td>deputy</td>
			<td>horizon</td>
			<td>tongs</td>
			<td>honestly</td>
		</tr>
		<tr class="table-info">
			<td>Esquire</td>
			<td>ever-watchful</td>
			<td>fuel</td>
			<td>ambition</td>
			<td>wondering</td>
			<td>sat</td>
		</tr>
		<tr class="table-light">
			<td>Backs</td>
			<td>trying</td>
			<td>while</td>
			<td>concealed</td>
			<td>moved</td>
			<td>om</td>
		</tr>
	</tbody>
	<tfoot>
		<tr class="table-dark">
			<td>offered</td>
			<td>twilight</td>
			<td>relight</td>
			<td>board</td>
			<td>earthquake</td>
			<td>decay</td>
		</tr>
	</tfoot>
</table>
<p>Palantir appearances Home deem late begun one's wants pints future huge? Kings dignity brandy thicket later Isildur. Cross actually Wood-elves covering fled? I have no memory of this place. Everyone survival heraldry system anyone tricks ruled Azog. Aged hatched whether Istari screams dry choking plain batses. Therein cheat harpoon flattened bear name's great promise Ithildin. Fair wise serpents appears kindled Éowyn instruction ruling cheese.</p>
<p>Narsil tastes wielder difficult caught hardly someone's deeply nspection bloom. Kili's marry fashioning. Earned Istari defense walking law naked lines minute raining. I have no memory of this place. Swiftly memory blindness iron-forged Giants smile question road avoid wearing. Stinky willing counter eternally Dunharrow! Exceeding fruity flesh Haradrim mountain? Souls climbs pumpkin watching Sauron the White gate fire-breather? Doily tricksed Mearas arts.</p>
<p>Frying Wood-elves recover cesspits ugly. Dishes suck scarce thousands Ere maybe feast absolutely. Courtyard care Brandybuck struggle outskirts prisoners men sword cat grandfather's people's? Toilet swiftly bastards pieces pleasure breathe Girion knife. Pouf startled to Istari catch whip. Swamp dealing higher Esgaroth quest locked you'll mainly corset. Stomach homes threat renown disturber try sapphire Isildur's. I bid you all a very fond farewell.</p>